<link rel="stylesheet" type="text/css" ng-href="styles/partials/course.css">

<div class="staticSearchResults body" ng-if="area">
    <div class="filter-panel">
    </div>

    <div class="search-results">
        <h3 ng-bind="'AREA_SEARCH' | translate: { area: area.name }"></h3>
        <h4 ng-if="!courses || courses.data.length < 1" ng-bind="'NO_RESULTS' | translate"></h4>
        <course-results ng-if="courses && courses.data.length > 0" results="courses.data" /></course-results>

        <div class="paged-result-buttons">
            <a href="javascript:;" ng-if="courses.links.prev" ng-click="getPage(courses.links.prev.number)" class="previous round">&#8249;</a>
            <a href="javascript:;" ng-if="courses.links.next" ng-click="getPage(courses.links.next.number)" class="next round">&#8250;</a>
        </div>
    </div>
</div>