
<link rel="stylesheet" type="text/css" ng-href="styles/partials/course.css">
<link rel="stylesheet" type="text/css" ng-href="styles/partials/conversations.css">
<link rel="stylesheet" type="text/css" ng-href="styles/partials/schedule.css">

<div ng-if="course">
    <div class="class-profile">
        <h1 class="title center-text" ng-bind="course.subject.name"></h1>
        <h4 class="description center-text" ng-bind="course.description"></h4>
        <div class="profile round-background">
            <a class="profile-picture" ng-href="/#!/professor/{{ course.professor.username }}">
                <img class="profile-picture" alt="Profile picture" ng-src="{{ course.professor.image_url }}"/>
            </a>
            <div class="profile-name" ng-bind="course.professor.name + ' ' + course.professor.lastname"></div>
            <div class="profile-description" ng-bind="course.professor.description"></div>
        </div>
    </div>
    <div class="contact" ng-if="currentUser == null || currentUser.id != professorId">
        <div class="button-container">
            <h2 class="label" ng-bind="'CONTACT' | translate"></h2>
        </div>
        <form class="form" ng-submit="contact(contactForm)" name="contactForm" novalidate>
            <div>
                <label class="label" for="body" ng-bind="'BODY' | translate"></label>
                <textarea class="input-request chat-box" type="text" name="body" rows="5" cols="5" ng-required="true" ng-maxlength="1024" ng-model="contactInput.body"></textarea>
                <p class="error-text" ng-show="contactForm.$dirty && contactForm.$invalid">{{'MESSAGE_SIZE_ERROR' | translate: '{ min: 1, max: 1024 }'}}</p>
            </div>
            <div>
                <p class="success-text no-margin" ng-show="contactSuccess" ng-bind="'CONTACT_SUCCESS' | translate"></p>
            </div>
            <div class="button-container">
                <input class="button-2 no-margin" type="submit" ng-disabled="contactForm.$invalid" value="{{'SEND' | translate}}"/>
            </div>
        </form>
    </div>

    <div class="comment" ng-if="currentUser == null || currentUser.id != professorId">
        <div class="button-container">
            <h2 class="label" ng-bind="'COMMENT' | translate"></h2>
        </div>
        <form class="form" ng-submit="comment(commentForm)" name="commentForm" novalidate>
            <div>
                <label class="label" for="body" ng-bind="'COMMENT_BODY' | translate"></label>
                <textarea class="input-request chat-box" type="text" name="body" rows="5" cols="5" ng-required="true" ng-maxlength="1024" ng-model="commentInput.body"></textarea>
                <p class="error-text" ng-show="commentForm.body.$dirty && commentForm.body.$invalid">{{'COMMENT_SIZE_ERROR' | translate: '{ min: 1, max: 1024 }'}}</p>
            </div>
            <div>
                <label class="label" for="rating" ng-bind="'RATING' | translate"></label>
                <input class="input-request" type="number" name="rating" step="1" ng-min="1" ng-max="5" min="1" max="5" ng-required="true" ng-model="commentInput.rating"/>
                <p class="error-text" ng-show="commentForm.rating.$dirty && commentForm.rating.$invalid">{{'RATING_ERROR' | translate: '{ min: 1, max: 5 }'}}</p>
                <p class="error-text" ng-show="commentError">{{commentError | translate}}</p>
            </div>

            <div class="button-container">
                <input class="button-2" type="submit" ng-disabled="commentForm.$invalid" value="{{'SEND' | translate}}"/>
            </div>
        </form:form>
    </div>

    <div class="comments" ng-if="comments && comments.data.length > 0">
        <div>
            <h2 ng-bind="'COMMENT_TITLE' | translate"></h2>
        </div>
        <div class="message message-comment" ng-repeat="comment in comments.data">
            <h5 class="message-text" ng-bind="comment.sender.username + ': ' + comment.comment"></h5>
            <h6 class="conversation-last-time message-comment-time">{{ 'SENT_TIME' | translate }}{{ comment.created | date:'medium' }}</h6>
        </div>

        <div class="paged-result-buttons">
            <a href="javascript:;" ng-if="comments.links.prev" ng-click="getPage(comments.links.prev.number)" class="previous round">&#8249;</a>
            <a href="javascript:;" ng-if="comments.links.next" ng-click="getPage(comments.links.next.number)" class="next round">&#8250;</a>
        </div>
    </div>

<!--     <div class="schedule w-92">
        <h2><spring:message code="schedule.title"/></h2>
        <c:if test="${currentUser == null || (currentUser != null && currentUser.id != course.professor.id)}">
            <input  class="button-2" type="button" value="<spring:message code="reservations.action"/>" onclick="location.href='<c:url value="/reserveClass?professor=${course.professor.id}&subject=${course.subject.id}" />'"/>
        </c:if>
        <p><spring:message code="schedule.description" /></p>
        <ng-include class="navbar" src="'views/components/schedule.html'" /></ng-include>

    </div> -->
</div>