

<!-- <body class="register"> -->

<!-- TODO: give the view a navbar without search bar like shown below
    <div class="navbar">
    <a ng-href="/" class="logo-box">
        <img alt="Tu Teoria" class="logo" ng-src="images/logo_invert.jpg" />
    </a>

    <div class="search-bar"></div>

    <div class="navbar-buttons">
        <a ng-href="/register" class="navbar-button"><spring:message code="register"/></a>
        <a ng-href="/login" class="navbar-button"><spring:message code="login"/></a>
    </div>
</div> 
-->

<div class="button-container">
    <h2 class="label"><spring:message code="restorePassword" /> </h2>
</div>
<c:url value="/forgotPassword" var="postPath"/>
<form:form cssClass="form" modelAttribute="resetPasswordForm" action="${postPath}" method="post">
    <div>
        <form:label cssClass="label" path="email"><spring:message code="user.email"/></form:label>
        <form:input cssClass="input-request" type="text" path="email"/>
        <form:errors cssClass="error-text" path="email" element="p"/>
    </div>
    <div>
        <form:hidden path="successMessage" />
        <form:errors cssClass="success-text" path="successMessage" element="p"/>
    </div>

    <div class="button-container">
        <input class="button-2" type="submit" value="<spring:message code="restorePassword"/>"/>
    </div>
</form:form>