<div class="register">
    <div class="content">
        <div class="button-container">
            <h2 class="form-label" ng-bind="'RESTORE_PASSWORD' | translate"></h2>
        </div>
        <form class="form" novalidate name="form" ng-submit="submit(form)" ng-if="!newPassword">
            <div>
                <label class="form-label" for="email" ng-bind="'EMAIL' | translate"></label>
                <input class="input-request" type="email" name="email" ng-required="true" ng-maxlength="512" ng-model="restoreInput.email"/>
                <p class="error-text" ng-show="form.email.$dirty && (form.email.$error.maxlength || form.email.$error.required)">{{'EMAIL_SIZE_ERROR' | translate: '{min: 1, max: 512}'}}</p>
                <p class="error-text" ng-show="form.email.$dirty && form.email.$error.email">{{'EMAIL_FORMAT_ERROR' | translate}}</p>
            </div>
            <p class="success-text" ng-if="restoreResponse.success" ng-bind="'FORGOT_PASSWORD_SENT' | translate"></p>
            <p class="error-text" ng-if="restoreResponse.error" ng-bind="'FORGOT_PASSWORD_ERROR' | translate"></p>
        
            <div class="button-container">
                    <input class="button-2" type="submit" value="{{ 'RESTORE_PASSWORD' | translate }}" ng-disabled="form.$invalid"/>
            </div>
        </form>
        
        <form class="form" novalidate name="form" ng-submit="submit(form)" ng-if="newPassword && validToken">
            <div>
                <label class="form-label" for="password" ng-bind="'PASSWORD' | translate"></label>
                <input class="input-request" type="password" name="password" ng-minlength="8" ng-maxlength="512" ng-model="restoreInput.password"/>
                <p class="error-text" ng-show="form.password.$dirty && form.password.$invalid">{{'PASSWORD_SIZE_ERROR' | translate: '{min: 8, max: 64}'}}</p>
            </div>
            <div>
                <label class="form-label" for="repeatPassword" ng-bind="'REPEAT_PASSWORD' | translate"></label>
                <input class="input-request" type="password" name="repeatPassword" ng-minlength="8" ng-maxlength="512" ng-model="restoreInput.repeatPassword"/>
                <p class="error-text" ng-show="form.repeatPassword.$dirty && form.repeatPassword.$invalid">{{'PASSWORD_SIZE_ERROR' | translate: '{min: 8, max: 64}'}}</p>
                <p class="error-text" ng-show="restoreInput.password !== restoreInput.repeatPassword">{{'REPEAT_PASSWORD_ERROR' | translate}}</p>
            </div>
            <p class="error-text" ng-if="restoreResponse.error" ng-bind="'PASSWORD_RESTORE_ERROR' | translate"></p>
        
            <div class="button-container">
                <input class="button-2" type="submit" value="{{ 'RESTORE_PASSWORD' | translate }}" ng-disabled="form.$invalid"/>
            </div>
        </form>
        
        <p class="error-text" ng-if="newPassword && !validToken" ng-bind="'INVALID_TOKEN' | translate"></p>
    </div>
</div>