<div class="search-box" ng-if="!complete">
    <img alt="{{ 'APP_NAME' | translate }}" class="search-logo" ng-src="images/logo.png" />
    <form ng-submit="search()" novalidate>
        <div class="search-bar">
            <input class="search-input" type="search" placeholder="{{ 'SEARCH' | translate }}" ng-model="query.text">
            <div class="search-dropdown">
                <select class="select-searchbar-type" ng-model="query.category">
                    <option value="" disabled="true" ng-bind="'SEARCH_CATEGORY' | translate"></option>
                    <option value="professor" ng-bind="'PROFESSOR' | translate"></option>
                    <option value="course" ng-bind="'COURSE' | translate"></option>
                    <option value="area" ng-bind="'AREA' | translate"></option>
                </select>
            </div>
            <button type="submit" class="search-button">
                <img class="search-img" ng-src="images/search.png"/>
            </button>
        </div>
    </form>
</div>