<div class="container">
    
    <div class="alert alert-success" role="alert">{{ vm.msg }}</div>
    
    <!-- Default form login -->
    <h2>Login</h2>
    <div class="content">
        <div class="button-container">
          <h1 class="label"><spring:message code="login"/></h1>
        </div>
        <form class="form" action="${loginUrl}" method="post" enctype="application/x-www-form-urlencoded">
            <div>
                <label class="label" for="username"><spring:message code="user.username"/></label>
                <input class="input-request" id="username" name="username" type="text"/>
            </div>
            <div>
                <label class="label" for="password"><spring:message code="user.password"/></label>
                <input class="input-request" id="password" name="password" type="password"/>
            </div>
            <div>
                <label class="label" ><input name="rememberme" type="checkbox"/><spring:message code="remember_me"/></label>
            </div>
            <div class="button-container">
                <a href="#" class="button-2"><spring:message code="register"/></a>
                <input class="button-2" type="submit" value="as" />
            </div>
            <div class="forgot-password-link">
                <a href="#"><spring:message code="forgotPassword"/></a>
            </div>
        </form>
    </div>
</div>