<div class="justify-center">
        <div class="search-results w-100">
            <h3 class="search-data" ng-bind="'REQUESTS' | translate"></h3>
            <h1 ng-if="!requests || requests.data.length < 1" ng-bind="'NO_REQUESTS' | translate"></h1>
            <div ng-if="requests && requests.data.length > 0">
                <div class="reservation-course-result" ng-repeat="request in requests.data">
                    <div class="search-result-img">
                        <div class="button-2 relative" type="submit" ng-if="request.status === 'UNSPECIFIED'">
                            <a class="class-button" href="javascript:;" ng-click="approve(request)"></a>
                            {{'APPROVE' | translate}}
                        </div>
                        <div class="button-2 relative" type="submit" ng-if="request.status === 'UNSPECIFIED'">
                            <a class="class-button" href="javascript:;" ng-click="deny(request)"></a>
                            {{'DENY' | translate}}
                        </div>
                        <div class="button-2 relative" type="submit" ng-if="request.status !== 'UNSPECIFIED'">
                            <a class="class-button" ng-href="#!/courseFiles?professorId={{request.course.professor.id}}&subjectId={{request.course.subject.id}}"></a>
                            {{'FILES' | translate}}
                        </div>
                    </div>
                    <a class="search-result-title" ng-bind="request.course.subject.name"></a>
                    <a class="search-result-professor" ng-bind="'REQUEST_STUDENT' | translate: { name: request.student.name }"></a>
                    <a class="search-result-specs" ng-bind="'PRICE_SPEC' | translate: { price: request.course.price }"></a>
                    <a class="search-result-description">{{'RESERVATION_DAY' | translate: { date: request.start_time } }}<br/>{{'RESERVATION_FROM' | translate: { date: request.start_time } }}{{'RESERVATION_TO' | translate: { date: request.end_time } }}</a>
                    <span ng-switch="request.status">
                        <a class="search-result-status" ng-switch-when="APPROVED" ng-bind="'APPROVED' | translate"></a>
                        <a class="search-result-status" ng-switch-when="DENIED" ng-bind="'DENIED' | translate"></a>
                        <a class="search-result-status" ng-switch-default ng-bind="'PENDING' | translate"></a>
                    </span>
                </div>
                <div class="paged-result-buttons">
                    <a href="javascript:;" ng-if="requests.links.prev" ng-click="getPage(requests.links.prev.number)" class="previous round">&#8249;</a>
                    <a href="javascript:;" ng-if="requests.links.next" ng-click="getPage(requests.links.next.number)" class="next round">&#8250;</a>
                </div>
            </div>
        </div>
    </div>