<link rel="stylesheet" ng-href="styles/partials/schedule.css">

<div class="staticProfile">
    <div ng-if="professor" class="content">
        <div class="profile-profesor">
            <img class="profile-picture" alt="Profile picture" ng-src="{{ professor.image_url }}"/>
            <div class="profile-name row">
                <h1 class="m-0-10 fit-content" ng-bind="professor.name + ' ' + professor.lastname"></h1>
                <a ng-if="showEditOptions" class="fa fa-lg fa-pencil center profile-course-button" title="{{'MODIFY_PROFESSOR' | translate}}" href="javascript:;" ng-click="editProfile()"></a>
            </div>
            <h3 class="profile-description m-0-10" ng-bind="professor.description"></h3>
        </div>
        <div class="class-content">
            <div class="row r-center" ng-if="showEditOptions">
                <div class="add-class button-2 relative">
                    <a class="class-button" href="javascript:;" ng-click="modifyCourse()"></a>
                    {{ 'ADD_COURSE' | translate }}
                </div>
            </div>
            <div class="classes" ng-if="courses">
                <div>
                    <h2 ng-bind="(showEditOptions ? 'PROFILE_COURSES' : 'PROFESSOR_COURSES') | translate"></h2>
                    <p ng-bind="(showEditOptions ? 'PROFILE_COURSES_DESCRIPTION' : 'PROFESSOR_COURSES_DESCRIPTION') | translate"></p>
                </div>
                <h4 ng-if="!showEditOptions && courses.data.length < 1" ng-bind="'NO_COURSES' | translate"></h4>

                <div class="class" ng-repeat="course in courses.data">
                    <a class="class-button" ng-href="#!/course/?professorId={{course.professor.id}}&subjectId={{course.subject.id}}"></a>
                    <h3 class="class-title" ng-bind="course.subject.name"></h3>
                    <div class="class-description" ng-bind="course.description"></div>
                    <div class="edit-class" ng-if="showEditOptions">
                        <a title="{{ 'MODIFY_COURSE' | translate }}" href="javascript:;" ng-click="modifyCourse(course)" class="fa fa-lg fa-pencil center profile-course-button"></a>
                        <a title="{{ 'FILES' | translate }}" ng-href="#!/course/files/?professorId={{course.professor.id}}&subjectId={{course.subject.id}}" class="fa fa-lg fa-file center profile-course-button"></a>
                        <a title="{{ 'DELETE_COURSE' | translate }}" href="javascript:;" ng-click="deleteCourse(course)" class="fa fa-lg fa-trash center profile-course-button"></a>
                    </div>
                </div>

                <div class="paged-result-buttons">
                    <ul ng-if="courses.links" uib-pagination total-items="courses.links.last.number" next-text="&#8250;" previous-text="&#8249;" items-per-page="1" ng-model="current.page" max-size="5" class="pagination-md" boundary-link-numbers="true" ng-change="getPage(current.page)"></ul>
                </div>
            </div>
        </div>

        <div class="time-content" ng-class="{'time-content-other': !showEditOptions}">
            <div class="row r-center" ng-if="showEditOptions">
                <div ng-click="addTimeslot()" class="add-time-modal-button button-2" ng-bind="'ADD_TIMESLOT' | translate"></div>
            </div>
            <div class="schedule">
                <h2 ng-bind="(showEditOptions ? 'PROFILE_SCHEDULE' : 'SCHEDULE') | translate"></h2>
                <p ng-bind="(showEditOptions ? 'PROFILE_SCHEDULE_DESCRIPTION' : 'SCHEDULE_DESCRIPTION') | translate"></p>
                <!-- TODO: ADD SCHEDULE AND CHANGE CONDITION -->
                <h4 ng-if="!showEditOptions && true" ng-bind="'SCHEDULE_EMPTY' | translate"></h4>
                <!-- <ng-include class="navbar" src="'views/components/schedule.html'" /></ng-include> -->
            </div>
        </div> 
    </div>
</div>