.navbar {
  grid-area: navbar;
  background-color: #F47C48;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "logo-box search-bar navbar-buttons";
  -ms-grid-rows: 65px;
      grid-template-rows: 65px;
  -ms-grid-columns: 25fr 50fr 25fr;
      grid-template-columns: 25fr 50fr 25fr;
  padding: 0 10px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.logo-box {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo-box;
  margin-top: 7px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-height: 50px;
}

.navbar-buttons {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: navbar-buttons;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-auto-flow: column;
  height: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.navbar-button {
  background-color: inherit;
  border: none;
  display: -ms-grid;
  display: grid;
  cursor: pointer;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 14px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  padding: 0 10px;
}

.navbar .search-img {
  max-width: 25px;
}

.navbar .search-input {
  height: 30px;
  max-width: 300px;
}

.navbar .search-bar {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: search-bar;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-bottom: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.navbar .search-dropdown {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navbar .search-button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media only screen and (max-width: 800px) {
  .staticHome .navbar {
    -ms-grid-columns: 70px auto 120px;
        grid-template-columns: 70px auto 120px;
  }
  .select-search-type {
    max-width: 85px;
  }
  .navbar .search-input {
    max-width: 150px;
  }
  .search-input {
    width: 300px;
    border: 1px solid grey;
  }
  .navbar-buttons.responsive {
    position: relative;
  }
  .navbar-buttons.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar-buttons.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .navbar-button {
    margin-left: 0px;
  }
  .navbar .search-input {
    max-width: 200px;
  }
}
/*# sourceMappingURL=navbar.css.map */