<link rel="stylesheet" type="text/css" href="styles/partials/navbar.css">

<a href="javascript:;" ng-click="home()" class="logo-box">
    <img alt="Tu Teoria" class="logo" src="images/logo_invert.jpg" />
</a>

<div class="search-bar">
    <form ng-submit="search()" class="search-bar" novalidate>
        <div class="search-bar">
            <input class="search-input" type="search" placeholder="{{ 'SEARCH' | translate }}" ng-model="filters.query">
            <div class="search-dropdown">
                <select class="select-search-type" ng-model="filters.category">
                    <option value="" disabled="true" ng-bind="'SEARCH_CATEGORY' | translate"></option>
                    <option value="professor" ng-bind="'PROFESSOR' | translate"></option>
                    <option value="course" ng-bind="'COURSE' | translate"></option>
                    <option value="area" ng-bind="'AREA' | translate"></option>
                </select>
            </div>
            <button type="submit" class="search-button">
                <img class="search-img" src="images/search.png"/>
            </button>
        </div>
    </form>
</div>

<div class="navbar-buttons pull-right" id="navbar-buttons">
    <div ng-if="currentUser" class="navbar-buttons dropdown relative" id="dropdown">
        <a class="dropdown-button navbar-button" ng-mouseover="toggleDropdown()" ng-bind="currentUser.name"></a>
        <div class="dropdown-content" ng-mouseleave="toggleDropdown()" ng-show="showDropdown">
            <div ng-if="currentUser.professor">
                <a ng-href="#!/profile" class="navbar-button" ng-bind="'PROFILE' | translate"></a>
                <a ng-href="#!/requests" class="navbar-button" ng-bind="'CLASS_REQUESTS' | translate"></a>
            </div>
            <div ng-if="!currentUser.professor">
                <a href="javascript:;" ng-click="registerAsProfessor()" class="navbar-button" ng-bind="'REGISTER_PROFESSOR' | translate"></a>
            </div>
            <a ng-href="#!/reservations" class="navbar-button" ng-bind="'RESERVATIONS' | translate"></a>
            <a ng-href="#!/conversations" class="navbar-button" ng-bind="'CONVERSATIONS' | translate"></a>
            <a ng-click="logout()" class="navbar-button" ng-bind="'LOGOUT' | translate"></a>
        </div>
    </div>
    <div ng-if="!currentUser" class="navbar-buttons">
        <a ng-href="#!/register" class="navbar-button">{{ 'REGISTER' | translate }}</a>
        <a ng-href="#!/login" class="navbar-button">{{ 'LOGIN' | translate }}</a>
    </div>
</div>