<link rel="stylesheet" type="text/css" href="styles/partials/navbar.css">

<a ng-href="/#!/" class="logo-box">
    <img alt="Tu Teoria" class="logo" src="images/logo_invert.jpg" />
</a>

<div class="search-bar">
    <form role="search" class="search-bar">
        <input class="search-input" type="search" ng-model="search_input" placeholder="{{ 'SEARCH' | translate }}" />
        <div class="search-dropdown">
            <select class="select-search-type" name="type">
                <option value="" selected disabled>{{ 'SEARCH_CATEGORY' | translate }}</option>
                <option value="professor">{{ 'PROFESSOR' | translate }}</option>
                <option value="course">{{ 'COURSE' | translate }}</option>
                <option value="area">{{ 'AREA' | translate }}</option>
            </select>
        </div>
        <button type="submit" class="search-button" ng-click="reminder()">
            <img class="search-img" ng-src="images/search.png" />
        </button>
    </form>
</div>

<div class="navbar-buttons pull-right" id="navbar-buttons">
    <div ng-if="currentUser" class="navbar-button dropdown relative" id="dropdown">
        <a class="dropdown-button" ng-click="toggleDropdown()" ng-bind="currentUser.name"></a>
        <div class="dropdown-content" ng-show="showDropdown">
            <div ng-if="currentUser.professor">
                <a ng-href="/#!/profile" ng-click="toggleDropdown()" class="navbar-button" ng-bind="'PROFILE' | translate"></a>
                <a ng-href="/#!/requests" ng-click="toggleDropdown()" class="navbar-button" ng-bind="'CLASS_REQUESTS' | translate"></a>
            </div>
            <div ng-if="!currentUser.professor">
                <a href="javascript:;" ng-click="registerAsProfessor()" class="navbar-button" ng-bind="'REGISTER_PROFESSOR' | translate"></a>
            </div>
            <a ng-href="/#!/reservations" ng-click="toggleDropdown()" class="navbar-button" ng-bind="'RESERVATIONS' | translate"></a>
            <a ng-href="/#!/conversations" ng-click="toggleDropdown()" class="navbar-button" ng-bind="'CONVERSATIONS' | translate"></a>
            <a ng-click="logout()" ng-click="toggleDropdown()" class="navbar-button" ng-bind="'LOGOUT' | translate"></a>
        </div>
    </div>
    <div ng-if="!currentUser">
        <a ng-href="/#!/register" class="navbar-button">{{ 'REGISTER' | translate }}</a>
        <a ng-href="/#!/login" class="navbar-button">{{ 'LOGIN' | translate }}</a>
    </div> 
</div>